body {

	font-family: Geneva, Geneva-Bold;

	color: ##ebebf2;

	background-color: #030303;

	margin: 2;

	padding: 2;

	line-height: 1.6;
}
header {

	background-color: #05050f;

	color: black;

	padding: 20px;

	text-align: center;

}


header h1 {

	margin: 0;

}


nav a{

	color: white;

	text-decoration: none;

	margin: 0 10px;
}
nav a:hover {

	text-decoration: underline;
}
main {

	padding: 20px;

	max-width: 800px;

	margin: 0 auto;

}

main img {

	max-width: 100%;

	height: auto;

	display: block;

	margin: 20px 0;
}
footer {

	background-color: #333;

	color: white;

	text-align: center;

	padding: 10px;

	position: fixed;

	bottom: 0;

	width: 100%;
}
p {

	font-size: 1.1em;

}

a {

	color: #4CAF50;

	text-decoration: none;

}

a:hover {

	text-decoration: underline;
}
img {

	border: 5px solid #4CAF50;

	border-radius: 10px;

}
main a[href^="mailto:"] {

	color: #ff5722;
	font-weight: bold;
}
